* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Vehicles {
    width: 100%;
}

.vehicle-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    min-width: 100%;
}

.vehicle-card {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.vehicle-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.vehicle-card img {
    width: 100%;
    height: 50%;
    object-fit: fill;
}


.vehicle-details {
    text-align: center;
}

.vehicle-details-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
}

.vehicle-details-two-columns p {
    margin: 0;
}

.vehicle_card_line_name {
    font-weight: bold;
}

.vehicle-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.vehicle-filter-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 3rem;
    gap: 20px;
}

.vehicle-filter {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    outline: none;
    transition: border-color 0.3s;
}

.vehicle-filter:focus {
    border-color: #9663fe;
}

.vehicle-sort {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.vehicle-sort:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.insurance_policy_select_label {
    font-weight: bold;
}

.form-control {
    margin: 1rem;
    width: 300px;
    background-color: lightgray;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: #1a1a1a 5px solid !important;
}

.form-control:hover {
    background-color: darkgray;
}

.input-label {
    font-size: 1.7rem;
    font-weight: bold !important;
}

.select {
    background-color: grey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: #1a1a1a 3px solid !important;
}

.select:focus{
    border: #1a1a1a 5px solid !important;
}

.select:hover{
    background-color: lightgrey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.3s ease;
    background-color: grey;
}

.menu-item:hover{
     background-color: lightgrey;
}

.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #1a1a1a !important;
}

#select-multiple-chip{
    border-radius: 0px !important;

}