* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Vehicles {
    width: 100%;
}

.vehicle-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    min-width: 100%;
}

.vehicle-card {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.vehicle-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px var(--shadow-black);
}

.vehicle-card img {
    width: 100%;
    height: 50%;
    object-fit: fill;
}


.vehicle-details {
    text-align: center;
}

.vehicle-details-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
}

.vehicle-details-two-columns p {
    margin: 0;
}

.vehicle_card_line_name {
    font-weight: bold;
}

.vehicle-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.vehicle-filter-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 3rem;
    gap: 20px;
}

.vehicle-filter {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--light-gray);
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    outline: none;
    transition: border-color 0.3s;
}

.vehicle-filter:focus {
    border-color: var(--highlight-violet);
}

.vehicle-sort {
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.insurance_policy_select_label {
    font-weight: bold;
}
