.about_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.about_page p {
  font-size: 1.2em;
  text-align: justify;
  max-width: 90%;
}

.about_page .about_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_info .motto {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2em 0 1em;
}

.about_info .about_us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.about_us p {
  width: 45%;
}

.about_us img {
  margin: 1em;
  width: 30%;
}

@font-face {
  font-family: Satisfy-Regular;
  src: url(assets/Satisfy-Regular.ttf);
}

.motto blockquote {
  font-family: Satisfy-Regular, serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: var(--highlight-blue);
}

.about_info h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0 2em 0;
}

.about_info .achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.achievements img {
    width: 10%;
    margin: 1em;
}

.achievements p {
  width: 70%;
}

.contact_info {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2em;
}

.contact_info .contact_name {
  grid-column: 1 / 2;
  text-align: left;
}

.contact_info .contact_value {
  grid-column: 2 / 3;
  text-align: right;
}

.about_info .location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

.location p {
  width: 30%;
}

.location .map {
  width: 55%;
  height: 25em;
}

.location .map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .about_info .about_us {
    flex-direction: column;
  }
  .about_info .achievements {
    flex-direction: column;
  }
  .about_us p, .about_us img {
  width: 100%;
  }
}