* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}


.App {
  min-height: 100vh;
}

.page_container {
  width: 90%;
  padding: 2em;
}

.page_content, .about_page .about_info {
  background-color: #252525;
  width: 100%;
  border-radius: 5px;
  padding: 2em;
}

.page_content p {
  text-align: justify;
  font-size: 1.2em;
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .page_content p {
    margin: 0.2em;
  }

  .page_content {
    padding: 0.5em;
  }

  .page_container {
    padding: 0.5em 0;
  }
}
