:root {
    --main-bg-color: #343434;
    --main-text-color: rgba(255, 255, 255, 0.87);
    --highlight-violet: #646cff;
    --highlight-blue: #4eaae8;
    --light-gray: #ddd;
    --medium-gray: #888;
    --dark-gray: #1a1a1a;
    --deep-gray: #202020;
    --content-bg-color: #252525;
    --shadow-black: rgba(0, 0, 0, 0.2);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

a {
  text-decoration: inherit;
}

a:hover {
  color: var(--highlight-violet);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-gray);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--highlight-violet);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  height: 100px;
  background-color: var(--dark-gray);
  justify-content: center;
}

.App-header > img {
  width: 50%;
  max-width: 400px;
  padding: 0 1em;
  margin: 0;
}

.App-header > h1 {
  margin: auto 0;
  padding: 0 1em;
}

.column_layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 2em;
}

.column_layout > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1em;
}

.column_layout > div > h2 {
    margin-bottom: 2em;
}

.link_button_style {
    display: block;
    background-color: var(--dark-gray);
    color: var(--main-text-color);
    height: 3em;
    font-size: 1.2em;
    width: 50%;
    max-width: 350px;
    margin: 1em auto;
    line-height: 3em;
    border-radius: 8px;
    border: 1px solid transparent;
}

.link_button_style:hover {
    border-color: var(--highlight-blue);
    color: var(--highlight-blue);
}

ul {
   list-style-position: inside;
    font-size: 1.2em;
    text-align: left;
    margin: 1em 2em;
}

h2, h3 {
    color: var(--highlight-blue);
    margin-top: 1em;
}

.link_text {
    color: var(--highlight-blue);
}

@media screen and (max-width: 1024px) {
    .App-header > h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .column_layout {
        flex-direction: column;
    }

    .column_layout > div {
        width: 100%;
    }

    .App-header {
        flex-direction: column;
        height: auto;
    }

    .App-header > img {
        width: 20%;
        margin: 0 auto;
    }

}
.manager_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.manager_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #202020;
    min-width: 150px;
    align-self: flex-start;
}

.manager_menu_item {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 1em;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}

.manager_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.manager_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

.report_button {
    cursor: pointer;
}

.report_button:hover {
    color: #9663fe;
}

.modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
